{% extends "blog/base.html" %}
{% block content %}
<div class="container">
    {% if follow == 'follows' %}
         <div class="col-12 no-padding">
            <h3 class="white-important mb-3">
                Follows
            </h3>
            <div class="row pr-3 pl-3">
            </div>
        </div>
    {% endif %}

    {% if follow == 'followers' %}
         <div class="col-12 no-padding">
            <h3 class="white-important mb-3">
                Followers
            </h3>
            <div class="row pr-3 pl-3">
            </div>
        </div>
      </div>
    {% endif %}
    <!-- Vista de seguidores/seguidos eliminada por refactor -->
{% endblock content %}