{% extends "blog/base.html" %}
{% block content %}
<div class="auth-page container">
    <div class="auth-shell">
        <form method="POST" class="auth-card">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Iniciar sesión</legend>
                {{ form.as_p }}
            </fieldset>
            <button class="btn btn-primary" type="submit">Entrar</button>
        </form>
        <p class="auth-meta">
            ¿Necesitas una cuenta? <a href="{% url 'register-users' %}">Regístrate</a>
        </p>
    </div>
</div>
{% endblock content %}